/* You can add global styles to this file, and also import other style files */
.a{
margin-left: 30%;
margin-top: 3%;
    width: 30%;
    height: 70%;
    align-content: center; 
   background-color:cornflowerblue;
}
